<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zizaike.entity.recommend.SearchStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.zizaike.entity.recommend.SearchStatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="key_words" property="keyWords" jdbcType="VARCHAR" />
    <result column="loc_id" property="locId" jdbcType="INTEGER" />
    <result column="poi_id" property="poiId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="channel" property="channel" jdbcType="INTEGER" />
    <result column="search_type" property="searchType" jdbcType="INTEGER" />
    <result column="statistics_type" property="statisticsType" jdbcType="INTEGER" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, key_words, loc_id, poi_id, count, channel, search_type, statistics_type, active, 
    create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_search_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_search_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zizaike.entity.recommend.SearchStatistics" >
    insert into t_search_statistics (id, key_words, loc_id, 
      poi_id, count, channel, 
      search_type, statistics_type, active, 
      create_at, update_at)
    values (#{id,jdbcType=INTEGER}, #{keyWords,jdbcType=VARCHAR}, #{locId,jdbcType=INTEGER}, 
      #{poiId,jdbcType=INTEGER}, #{count,jdbcType=BIGINT}, #{channel,jdbcType=INTEGER}, 
      #{searchType,jdbcType=INTEGER}, #{statisticsType,jdbcType=INTEGER}, #{active,jdbcType=INTEGER}, 
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zizaike.entity.recommend.SearchStatistics" >
    insert into t_search_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="keyWords != null" >
        key_words,
      </if>
      <if test="locId != null" >
        loc_id,
      </if>
      <if test="poiId != null" >
        poi_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="searchType != null" >
        search_type,
      </if>
      <if test="statisticsType != null" >
        statistics_type,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyWords != null" >
        #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="locId != null" >
        #{locId,jdbcType=INTEGER},
      </if>
      <if test="poiId != null" >
        #{poiId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=INTEGER},
      </if>
      <if test="searchType != null" >
        #{searchType,jdbcType=INTEGER},
      </if>
      <if test="statisticsType != null" >
        #{statisticsType,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zizaike.entity.recommend.SearchStatistics" >
    update t_search_statistics
    <set >
      <if test="keyWords != null" >
        key_words = #{keyWords,jdbcType=VARCHAR},
      </if>
      <if test="locId != null" >
        loc_id = #{locId,jdbcType=INTEGER},
      </if>
      <if test="poiId != null" >
        poi_id = #{poiId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=INTEGER},
      </if>
      <if test="searchType != null" >
        search_type = #{searchType,jdbcType=INTEGER},
      </if>
      <if test="statisticsType != null" >
        statistics_type = #{statisticsType,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zizaike.entity.recommend.SearchStatistics" >
    update t_search_statistics
    set key_words = #{keyWords,jdbcType=VARCHAR},
      loc_id = #{locId,jdbcType=INTEGER},
      poi_id = #{poiId,jdbcType=INTEGER},
      count = #{count,jdbcType=BIGINT},
      channel = #{channel,jdbcType=INTEGER},
      search_type = #{searchType,jdbcType=INTEGER},
      statistics_type = #{statisticsType,jdbcType=INTEGER},
      active = #{active,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>