<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zizaike.entity.commodity.RoomPriceMapper" >
  <resultMap id="BaseResultMap" type="com.zizaike.entity.commodity.RoomPrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="room_type_id" property="roomTypeId" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="create_u_id" property="createUId" jdbcType="INTEGER" />
    <result column="update_u_id" property="updateUId" jdbcType="INTEGER" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, room_type_id, date, price, active, create_at, create_u_id, update_u_id, 
    update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_room_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_room_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zizaike.entity.commodity.RoomPrice" >
    insert into t_room_price (id, user_id, room_type_id, 
      date, price, active, create_at, 
      create_u_id, update_u_id, update_at
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roomTypeId,jdbcType=INTEGER}, 
      #{date,jdbcType=DATE}, #{price,jdbcType=INTEGER}, #{active,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, 
      #{createUId,jdbcType=INTEGER}, #{updateUId,jdbcType=INTEGER}, #{updateAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zizaike.entity.commodity.RoomPrice" >
    insert into t_room_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roomTypeId != null" >
        room_type_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="createUId != null" >
        create_u_id,
      </if>
      <if test="updateUId != null" >
        update_u_id,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomTypeId != null" >
        #{roomTypeId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createUId != null" >
        #{createUId,jdbcType=INTEGER},
      </if>
      <if test="updateUId != null" >
        #{updateUId,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zizaike.entity.commodity.RoomPrice" >
    update t_room_price
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roomTypeId != null" >
        room_type_id = #{roomTypeId,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createUId != null" >
        create_u_id = #{createUId,jdbcType=INTEGER},
      </if>
      <if test="updateUId != null" >
        update_u_id = #{updateUId,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zizaike.entity.commodity.RoomPrice" >
    update t_room_price
    set user_id = #{userId,jdbcType=INTEGER},
      room_type_id = #{roomTypeId,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      price = #{price,jdbcType=INTEGER},
      active = #{active,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_u_id = #{createUId,jdbcType=INTEGER},
      update_u_id = #{updateUId,jdbcType=INTEGER},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>